<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
</head>
<html>
<head>
    <title>Add User</title>
    <link href="/css/style.css" rel="stylesheet" media="all">
</head>
<body>
<p sec:authorize="hasAuthority('ADMIN')" align="center">Welcome Administrator(<span sec:authentication="principal.username">User</span>)</p>

<a href="/allByMax"><button class="newbtn"> Գլխավոր</button></a><br>
<span class="message" ><h3 th:text="${message}"> </h3></span>

<form th:action="@{/add}" th:object="${user}"  method="post">
    <input  th:field="*{name}" placeholder="անուն"></input><br>
    <input  th:field="*{country}" placeholder="քաղաք" ></input><br>
    <input  th:field="*{tel}" placeholder="հեռախոս "></input><br>
    <button class="newbtn">ավելացնել</button>

</form>
</body>
</html>
