<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head>
    <title>Add User</title>
    <link href="/css/style.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                    <span   id="name_validation" style="color: red" class="login100-form-title p-b-51" ></span>
                <td th:switch="${message}">
                    <span  style="color: red" class="login100-form-title p-b-51" th:case="'userExist'">տվյալ անունը արդեն առկա է</span>
                </td>
                <a class="underline" href="/allByMax">
                    <button class="login100-form-btn">
                        Գլխավոր
                    </button>
                </a>
                <form onsubmit="return validateForm();" id="FormId" class="login100-form validate-form flex-sb flex-w" th:action="@{/add}" th:object="${user}"
                      method="post">
                    <span class="login100-form-title p-b-51">
						ՆՈՐ ԱՆՈՒՆ
					</span>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        <input id="name" class="input100" th:field="*{name}" placeholder="անուն"><br>
                        <span class="focus-input100"></span>

                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        <input class="input100" th:field="*{country}" placeholder="քաղաք"><br>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                        <input class="input100" th:field="*{tel}"  placeholder="հեռախոս "><br>
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            ավելացնել
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>
