<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head>
    <title>change</title>
    <link href="/css/style.css" rel="stylesheet" media="all">
</head>
<body>
<p sec:authorize="hasAuthority('ADMIN')" align="center">Welcome Administrator(<span sec:authentication="principal.username">User</span>)</p>

<a  href="/allByMax"><button class="more">Գլխավոր</button></a>
<h3 class="message" th:text="${creditor.user.name+'  '+ creditor.user.country+'  '+ creditor.user.tel}"></h3>
<form th:action="@{/updatePrice}" th:object="${creditor}" method="post">
    <input type="hidden" name="id" th:value="${creditor.getId()}">
    Փոխել չափը  <input type="number" step="50"  th:field="*{value}" placeholder="partq"><br>
    Փոխել օրը  <input type="date"   th:field="*{date}" placeholder="partq"><br>
    <button class="newbtn" >թարմացնել</button>
</form>
</body>
</html>
