<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/style.css"/>
</head>
<html>
<head>
    <title>detail</title>
    <link href="/css/style.css" rel="stylesheet" media="all">

</head>
<body>

<a class="underline" href="/allByMax"><button class="newbtn">ԳԼԽԱՎՈՐ</button></a>
<h3 class="message" th:text="${user.name+' '+user.country+' '+user.tel}"></h3>
<a class="underline"th:href="@{/update(id=${user.id})}"><button class="newbtn" >ԹԱՐՄԱՑՆԵԼ</button></a>&nbsp; &nbsp; &nbsp;
<a class="underline"th:href="@{/deleteUser(id=${user.id})}"><button class="newbtn"> ՋՆՋԵԼ</button></a><br>
<h3 class="message" th:text="${message}"></h3>


<form th:action="@{/addCredit}" th:object="${creditor}" method="post">
    <input type="hidden" name="userId" th:value="${user.getId()}">ՆՈՐ ՊԱՐՏՔ
    <input th:field="*{value}" type="number" step="50" placeholder="partq">
    <button class="newbtn">ԱՎԵԼԱՑՆԵԼ</button>
</form>
<span class="credit" >
    <h2>ՊԱՐՏՔ</h2>
<ol>
    <li><h3 class="olive">ԱՄԻՍ/ՕՐ &nbsp; ԳՈՒՄԱՐ</h3></li>

            <li th:each="one:${news}"> <strong class="inline"  th:text="${one.armDate+' '}"></strong>
              <a class="underline"th:href="@{/change(id=${one.id})}"><button
                      class="smallbtn">-</button></a><strong class="inline" th:text="' '+${one.value}+' '"></strong>
                <a class="underline"th:href="@{/changeType(id=${one.id})}"><button class="smallbtn">+</button></a><br><br>
            </li>



    <li  class="message"><strong th:text="${userSum!=null} ? ${'ընդհանուր=' + userSum}: ' Պարտք Չունի '"></strong></li>
</ol>
     </span>

<span class="span-vert"><hr width="1" size="500"></span>

<span class="credit" >

<h2>ՏՎԱԾ</h2>
<ol>
     <li><h3 class="olive">ԱՄԻՍ/ՕՐ&nbsp; ԳՈՒՄԱՐ</h3></li>


            <li th:each="one:${ends}"><strong th:text="${one.armDate+' - '+one.value}" class="inline"></strong>
                <a class="underline"th:href="@{/deletePrice(id=${one.id})}"><button class="newbtn">✗</button></a><br><br></li>

</ol>
    </span>

</body>
</html>
