<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>detail</title>
    <link href="/css/style.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
</head>
<body>
<div align="center">
    <a class="underline" href="/allByMax"> <button class="newbtn">ԳԼԽԱՎՈՐ</button> </a>
    <span style="text-align: center" class="user-name" th:text="${user.name+' '+user.country+' '+user.tel}"></span>
    <a class="underline" th:href="@{/update(id=${user.id})}">
        <button style="font-size: 27px" class="newbtn">✎</button>
    </a>&nbsp; &nbsp; &nbsp;
    <a class="underline" th:href="@{/deleteUser(id=${user.id})}"><button style="font-size: 27px" class="newbtn"> ✂</button> </a><br>
    <th:block th:switch="${message}">
        <span style="text-align: center" class="user-name" th:case="'big'"> Շատ մեծ թիվ ես գրել </span>
        <span style="text-align: center" class="user-name" th:case="'min'">500-ից պակաս թիվ մի գրե</span>
        <span style="text-align: center" class="user-name" th:case="'max'">100,000-ից ավել թիվ մի գրե </span>
        <span style="text-align: center" class="user-name" th:case="'notEmpty'"
              th:text="${user.name+'-ը պարտք ունի մի ջնջե'}"> </span>
    </th:block>
    <form th:action="@{/addCredit}" th:object="${creditor}" method="post">
        <input type="hidden" name="userId" th:value="${user.getId()}">
        <input class="search" th:field="*{value}" type="number" step="50" placeholder="ՊԱՐՏՔ">
        <button style="font-size: 28px" class="newbtn"> ➲</button>
    </form>
    <div style="overflow: hidden;">
        <table style="vertical-align: top;" class="inline">
            <colgroup>
                <col span="1">
            </colgroup>
            <tr>
                <th class="detailss">ՊԱՐՏՔ<br>ԱՄԻՍ/ՕՐ &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ԳՈՒՄԱՐ</th>
            </tr>
            <tr th:each="one:${news}">
                <td class="detailss" th:if="${one.getType().name() eq 'NEW'}"><strong class="inline-detail"
                                                                                      th:text="${@creditService.getDates(one.getDate())+' '}"></strong>
                    <a class="underline" th:href="@{/change(id=${one.id})}">
                        <button style="font-size: 20px" class="smallbtn"> ✎ </button>
                    </a><strong class="inline-detail" th:text="' '+${one.value}+' '"></strong>
                    <a class="underline" th:href="@{/changeType(id=${one.id})}">
                        <button style="font-size: 20px"  class="smallbtn"> ➨ </button>
                    </a>
                </td>
            <tr>
                <td class="detailss"><strong class="inline-detail"
                                             th:text="${userSum!=null} ? ${'ընդհանուր=' + userSum}: ' Պարտք Չունի '"></strong>
                </td>
            </tr>
        </table>
        <table style="vertical-align: top;" class="inline">
            <colgroup> <col span="1"> </colgroup>
            <tr>
                <th class="detailss">ՏՎԱԾ<br>ԱՄԻՍ/ՕՐ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ԳՈՒՄԱՐ</th>
            </tr>
            <tr th:each="one:${ends}">
                <td class="detailss" th:if="${one.getType().name() eq 'END'}"><strong
                        th:text="${@creditService.getDates(one.getDate())+' - '+one.value}"
                        class="inline-detail"></strong>
                    <a class="underline" th:href="@{/deletePrice(id=${one.id})}">
                        <button style="font-size: 20px" class="smallbtn">✂ </button>
                    </a>
                </td>
            <tr>
        </table>
    </div>
</div>
</body>
</html>
