<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.w3.org/1999/xhtml">
<html>
<head>
    <title>detail</title>
</head>
<body>
<a href="/">
    <button>Գլխավոր</button>
</a>

<h3 style="color: red" th:text="${user.name+' '+user.country+' '+user.tel}"></h3>
<a th:href="@{/update(id=${user.id})}">
    <button style="border-radius: 200px;border-color: red">թարմացնել</button>
</a>&nbsp; &nbsp; &nbsp;
<a th:href="@{/deleteUser(id=${user.id})}">
    <button style="border-radius: 200px;border-color: red"> ջնջել ցուցակից</button>
</a><br>
<h3 th:text="${message}"></h3>


<form th:action="@{/addCredit}" th:object="${creditor}" method="post">
    <input type="hidden" name="userId" th:value="${user.getId()}">
    Նոր պարտք <input th:field="*{value}" type="number" step="50" placeholder="partq">
    <button style="border-radius: 200px;border-color: red">ավելացնել</button>
</form>
<span style="width: 280px;float: left;">
    <h2>պարտք</h2>
<ol>
    <li><h3 style="color: olive">ամիս/օր &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; գումար</h3></li>

            <li th:each="one:${news}"> <strong style="display: inline-block" th:text="${one.armDate+' '}"></strong>
              <a th:href="@{/change(id=${one.id})}"><button
                      style="border-radius: 200px;border-color: red">-</button></a><strong style="display: inline-block" th:text="' '+${one.value}+' '"></strong>
                <a th:href="@{/changeType(id=${one.id})}"><button style="border-radius: 200px;border-color: red">+</button></a><br><br>
            </li>



    <li  style="color: red"><strong th:text="${userSum!=null} ? ${'ընդհանուր=' + userSum}: ' Պարտք Չունի '"></strong></li>
</ol>
     </span>

<span style="width: 5px;float: left;"><hr width="1" size="500"></span>

<span style="width: 280px;float: left;">

<h2>Տված</h2>
<ol>
     <li><h3 style="color: olive">ամիս/օր &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; գումար</h3></li>


            <li th:each="one:${ends}"><strong th:text="${one.armDate+' - '+one.value}" style="display: inline-block"></strong>
                <a th:href="@{/deletePrice(id=${one.id})}"><button>ջնջել</button></a><br><br></li>

</ol>
    </span>

</body>
</html>
