<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" type="text/css" href="src/main/resources/static/css/style.css"/>
    <title>պարտք</title>
    <link href="/css/style.css" rel="stylesheet" media="all">

</head>
<body >
<p sec:authorize="hasAuthority('ADMIN')" align="center">Welcome Administrator(<span sec:authentication="principal.username">User</span>)</p>


<span><a href="/"><button class="newbtn">ՊԱՐՏՔԵՐ</button></a>&nbsp;&nbsp;
    <a href="/admin"><button class="newbtn">ՆՈՐ ԱՆՈՒՆ</button></a>&nbsp;&nbsp;
    <a href="/logout"><button class="newbtn">ԵԼՔ</button></a>
</span><br><br>
<form action="/search">
    <input name="search" placeholder="փնտրել">
    <input type="image" src="../images/test.jpg" class="btn" alt="Submit" >
</form>
<form action="/searchByDate">
    <input style="height: 30px" type="date" name="date" placeholder="amsativ">
    <input type="image" src="../images/test.jpg" class="btn" alt="Submit" >

</form>




<ol class="ul" >
    <li><h3 style="color: olive"><strong th:inline="text" class="message">ընդհանուր=[[${#numbers.formatDecimal(s,
        0, 'COMMA', 0, 'POINT')}]]</strong></h3></li>

    <li th:each="one:${all}" class="dtoSum">
        <a th:href="@{/app(id=${one.id})}">
            <button  class="newbtn">0K</button>
        </a>
        <h3 style="display: inline-block" th:text="${one.name+' '+one.country}"></h3>
    </li>

</ol>
</body>
</html>
