<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:td="http://www.w3.org/1999/xhtml">
<head>
    <title>պարտք</title>
</head>
<body style="background-color: darkkhaki">

<span><a href="/allByMax">
    <button style="border-radius: 200px;border-color: red">Բոլոլրը</button>
</a></span>

<span>
    <a href="/admin">
    <button style="border-radius: 200px;border-color: red">Նոր</button>
</a>
    <form action="/search">
        <input name="search" placeholder="փնտրել">
        <input STYLE="color: red;border-radius: 500px;border-color: red" type="submit" value="փնտրել">
    </form>
    <form action="/searchByDate">
        <input type="date" name="date" placeholder="amsativ">
        <input STYLE="color: red;border-radius: 500px;border-color: red" type="submit" value="փնտրել">
    </form>

</span>




<ol style="padding-left: 200px">
    <li><h3 style="color: olive"><strong th:inline="text" style="color: red;  ">ընդհանուր=[[${#numbers.formatDecimal(s, 0, 'COMMA', 0, 'POINT')}]]</strong></h3></li>

        <li th:each="one:${all}" style="width: 300px;float: left;border-style: ridge;background-color: yellow">
            <h3 style="display: inline-block" th:text="${one.name+' '+one.country}"></h3>
                <a th:href="@{/credit(id=${one.id})}">
                    <button style="border-radius: 200px;border-color: red">0K</button>
                </a>
        </li>

</ol>
</body>
</html>
