<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/css/style.css" rel="stylesheet" media="all">
    <!--===============================================================================================-->
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <a class="underline" href="/">
                <button class="login100-form-btn">
                    Գլխավոր
                </button>
            </a>
            <form th:action="@{/login}" method="post" class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-51">ՄՈՒՏՔ</span>
                <span style="color: red" th:if="${param.error}" class="login100-form-title p-b-51">Սխալ Անուն կամ Գաղտնաբառ</span>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Username is required">
                    <input class="input100" type="text" name="email" placeholder="ԱՆՈՒՆ">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="ԳԱՂՏՆԱԲԱՌ">
                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Հիշել
                        </label>
                    </div>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">
                        ՄՈՒՏՔ
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


</body>

</html>
